<div class="login-page">
    <div class="login-card shadow-lg bg-body">
        <h2 class="login-title">LOGIN</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">      
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="userName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="passWord">
            </mat-form-field>
            <div id="forgot-pswd-link">Forgot password?</div>
            <button class="login-btn" 
            mat-raised-button color="primary"
            type="submit">Primary</button>
        </form>
    </div>
</div>
        
